<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.demo.repository.mapper.MemberMapper">

	<insert id="insert" parameterType="vo.MemberVo">
		INSERT INTO MEMBER(ID,PASSWORD,NAME,EMAIL,PHONE,LEVEL)
		VALUES(#{id},#{password},#{name},#{email},#{phone},#{level})
	</insert>

	<select id="selectmember" parameterType="String"
		resultType="vo.MemberVo">
		SELECT
		<include refid="memSql" />
		FROM MEMBER WHERE ID=#{id}
	</select>



	<select id="selectMemberTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM member
	</select>

	<select id="selectMemberNum" resultType="int">
		SELECT COUNT(ID) FROM MEMBER WHERE ID=#{id} AND PASSWORD=#{password}
	</select>

	<select id="select" resultType="vo.MemberVo">
		SELECT
		<include refid="memSql" />
		FROM MEMBER WHERE MEMBER_NUM=#{memberNum}
	</select>

	<update id="update" parameterType="vo.MemberVo">
		UPDATE MEMBER SET PASSWORD=#{password},NAME=#{name},
		EMAIL=#{email},PHONE=#{phone} WHERE MEMBER_NUM=#{memberNum}
	</update>


	<delete id="delete" parameterType="int">
		DELETE FROM MEMBER WHERE MEMBER_NUM=#{memberNum}
	</delete>

	<sql id="memSql">
		MEMBER_NUM AS "memberNum",ID,PASSWORD,NAME,EMAIL,PHONE,ADMIN
	</sql>

	<!-- 회원리스트 -->
	<select id="selectMemberList" resultMap="MemberMap">
		SELECT 
		MEMBER_NUM, ID,
		NAME, LEVEL, ADMIN
		FROM member
		ORDER BY MEMBER_NUM DESC
		LIMIT #{startRow}, #{count}
	</select>

	<resultMap type="vo.MemberVo" id="MemberMap">
		<result column="MEMBER_NUM" property="memberNum" />
		<result column="ID"    property="id" />
		<result column="NAME" property="name" />
		<result column="LEVEL" property="level" />
		<result column="ADMIN" property="admin" />
	</resultMap>
</mapper>
