
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 성공 페이지</title>
</head>
<script type="text/javascript">
window.onload = function(){
	   alert("로그인 성공");
	   location.href="main";
	}
</script>
    <!-- Core -->
    <script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- Vendor JS -->
    <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
    
    <!-- Slider -->
    <script src="../../vendor/nouislider/dist/nouislider.min.js"></script>
    
    <!-- Smooth scroll -->
    <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    
    <!-- Sweet Alerts 2 -->
    <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    
    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    
    <!-- Notyf -->
    <script src="../../vendor/notyf/notyf.min.js"></script>
    
    <!-- Simplebar -->
    <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>
    
    <!-- Volt JS -->
    <script src="../../assets/js/volt.js"></script>
<body>

</body>
</html>
